*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    /* overflow-x: none; */
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(123, 168, 246); */
    background: linear-gradient(to right, #E50914, #FF9900, #4267B2);
    min-height:auto;
    padding: 5px;
}

#navBar{
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}
#navLogo{
    font-size: 2.5rem;
    color: antiquewhite;

}
a{
    text-decoration: none;
    color:antiquewhite;
}
#rightSideItems{
    display: flex;
    gap: 1.5rem;
}
.footerBox{
    background-color: black;
    color: white;
    text-align: center;

}